.fila{
    border: 0px ;
    background-color: rgb(90, 91, 90);
    margin-bottom: 0px;
    height: 600px;  
    padding: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    
}
.tamaño-fila{
    height: 100%;  
    border: 0px solid;
}
